.testimonial-container {
  background-image: url("../../../assets/img/image/dot-blue.png"),
    url("../../../assets/img/image/dot-blue.png");
  background-position-x: right, left;
  background-position-y: bottom, 100px;
  background-repeat: no-repeat;
  .row-testimonial-title {
    text-align: center;
  }
}
