.landing-page {
  overflow: hidden;
  position: relative;

  .home-page {
    background-image: url("../../../assets/img/image/dot.png"),
      url("../../../assets/img/image/dot.png");
    background-repeat: no-repeat;
    background-position-x: right, left;
    background-position-y: 150px, 450px;
  }

  .about-page {
    background-image: url("../../../assets/img/image/dot-blue.png"),
      url("../../../assets/img/image/dot-blue.png");
    background-position-x: right, left;
    background-position-y: bottom, top;
    background-repeat: no-repeat;
  }

  .recent-page {
    margin-top: 15em;
    min-height: 100vh;
    background-image: url("../../../assets/img/image/dot-blue.png"),
      url("../../../assets/img/image/dot-blue.png");
    background-position-x: right, left;
    background-position-y: bottom, 100px;
    background-repeat: no-repeat;

    .find-more {
      color: #024eff;
      font-weight: 500;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .work-page {
    margin-top: 10em;
    min-height: 100vh;
    background-image: url("../../../assets/img/image/dot-blue.png"),
      url("../../../assets/img/image/dot-blue.png");
    background-position-x: right, left;
    background-position-y: bottom, 100px;
    background-repeat: no-repeat;
  }

  .testimonial-page {
    margin-top: 10em;
    min-height: 100vh;
  }

  .question-page {
    min-height: 100vh;
    margin-top: 10em;

    background-image: url("../../../assets/img/image/dot-blue.png");
    background-position-x: 2em;
    background-position-y: 5em;
    background-repeat: no-repeat;
  }
}

// Tablet
@media screen and (max-width: 768px) {
  .landing-page {
    position: relative;

    .home-page {
      background: #024eff;
      background-image: url("../../../assets/img/image/dot.png"),
        url("../../../assets/img/image/dot.png");
      background-repeat: no-repeat;
      background-position-x: right, left;
      background-position-y: 10em, bottom;
    }
  }
}

// Mobile
@media screen and (max-width: 425px) {
  .landing-page {
    .home-page {
      // background: #024eff;
    }
  }
}
